services:
  postgres:
    image: postgres:15
    container_name: jimwurst_postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
      - ${LOCAL_DATA_PATH:-~/document/jimwurst_local_data}:/local_data:ro
    networks:
      - jimwurst_net
    restart: always

volumes:
  postgres_data:
    driver: local

networks:
  jimwurst_net:
    driver: bridge
